@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 8px;
}

.nav {
  height: 40px;
  /* background-color: pink; */
  padding: 16px;
}

.logo {
  font-weight: 400;
  font-size: 3em;
  margin: 0;
  /* position: relative; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: color-change 12s infinite alternate;
  -moz-animation: color-change 12s infinite alternate;
  -o-animation: color-change 12s infinite alternate;
  -ms-animation: color-change 12s infinite alternate;
  animation: color-change 12s infinite alternate;
}

@-webkit-keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}
@-moz-keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}
@-ms-keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}
@-o-keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}
@keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}

#wrapper {
  /* width: 100%; */
  margin: 16px;
  /* background-color: blue; */
}

.section {
  /* width: 100%;
  height: 100%; */
  /* background-color: yellow; */
  font-size: 9em;
  line-height: 72px;
  word-wrap: break-word;
}

a:link, a:visited, a:active {
  color: #707070;
  text-decoration: none;
  cursor: pointer;

}

a.title-1:hover {
  color: #1A06FE;
}

a.title-2:hover {
  color: #FFADFE;
}

a.title-3:hover {
  color: #F6D4D4;
}

a.title-4:hover {
  color: #B570FA;
}

a.title-5:hover {
  color: #E1E2EA;
}

a.title-6:hover {
  color: #79FEF0;
}

/* iMac 2560x1400 */

@media only screen and (min-width: 768px) {
  .nav {
    height: 40px;
    padding: 30px 135px;
    /* background-color: blue; */
  }

  .logo {
    font-weight: 400;
    font-size: 3em;
    /* margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }

  #wrapper {
    margin-left: 120px;
    margin-right: 120px;
  }

  .section {
    font-size: 10vw;
    line-height: 10vw;
  }
}
